POB_MAC_APP_NAME="Path of Building"
POB_MAC_APP_BUNDLE_ID=dev.local.pathofbuilding.macos
POB_MAC_GAME=poe1
POB_MAC_SUPPORT_DIR="$HOME/Library/Application Support/Path of Building"
POB_MAC_BUNDLE_PATH="$PWD/dist/Path of Building.app"
POB_MAC_REFRESH_WEEKDAY=6
POB_MAC_REFRESH_HOUR=19
POB_MAC_REFRESH_MINUTE=0
POB_MAC_REFRESH_AGENT_LABEL=dev.local.pathofbuilding.mac-native-refresh
POB_BUILDS_HOST_DIR="$HOME/Documents/Path of Building/Builds"
