POB_DOCKER_CONTEXT=orbstack
POB_RDP_PASSWORD=changeme
POB_RDP_PORT=3389
POB_RDP_KEYLAYOUT=0x00000409
POB_FLATPAK_IMAGE=pob-flatpak:local
POB_FLATPAK_RDP_PORT=3389
POB_FLATPAK_APP_ID=community.pathofbuilding.PathOfBuilding
POB_FLATPAK_RUNTIME_VERSION=25.08
POB_FLATPAK_UPSTREAM_SNAPSHOT=aa186a1606107b3f9035ea03d72c79e8ea24c885
POB_FLATPAK_GAME=poe1
POB_FLATPAK_REFRESH_WEEKDAY=6
POB_FLATPAK_REFRESH_HOUR=19
POB_FLATPAK_REFRESH_MINUTE=0
POB_BUILDS_HOST_DIR=/Users/sergio/Documents/30_HOBBY_AI/POB-data/builds
