POB_DOCKER_CONTEXT=orbstack
POB_RDP_PASSWORD=changeme
POB_RDP_PORT=3389
POB_BUILDS_HOST_DIR=/Users/sergio/Documents/30_HOBBY_AI/POB-data/builds
POB_WINEPREFIX_HOST_DIR=/Users/sergio/Documents/30_HOBBY_AI/POB-data/wine-prefix
